<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=.\sqlexpress;Initial Catalog=StrixLoggingTests;Integrated Security=True;multipleActiveResultSets=true;App=StrixPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:\temp\strixcms\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level;%date;%aspnet-request{AUTH_USER};%message;%exception%newline" />
      </layout>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\sqlexpress;Initial Catalog=StrixLoggingTests;Integrated Security=True;" />
      <commandText value="INSERT INTO ErrorLog ([ExceptionType],[ApplicationId],[UserEmail],[LogDateTime],[Level],[Message],[Exception],[IpAddress],[Url],[UserAgent],[Method],[ContentType],[Headers],[Cookies]) VALUES (@etype, @aid, @uemail, @log_date, @log_level, @message, @exception, @ipaddress, @url, @useragent, @method, @contenttype, @headers, @cookies)" />
      <parameter>
        <parameterName value="@etype" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="exceptionType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@aid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="applicationId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uemail" />
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userEmail" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@ipaddress" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="ipAddress" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="url" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@useragent" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userAgent" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@method" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="method" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@contenttype" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="contentType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@headers" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="headers" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cookies" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="cookies" />
        </layout>
      </parameter>
    </appender>
    <appender name="AuditLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\sqlexpress;Initial Catalog=StrixLoggingTests;Integrated Security=True;" />
      <commandText value="INSERT INTO AuditLog ([ApplicationId],[GroupId],[UserId],[UserName],[LogType],[LogDateTime],[Message]) VALUES (@aid, @gid, @uid,@uname, @ltype, @log_date, @message)" />
      <parameter>
        <parameterName value="@aid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="applicationId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@gid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="groupId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uname" />
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ltype" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="logType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
    </appender>
    <appender name="AnalyticsLog" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\sqlexpress;Initial Catalog=StrixLoggingTests;Integrated Security=True;" />
      <commandText value="INSERT INTO AnalyticsLog ([ApplicationId],[GroupId],[UserId],[UserName],[LogType],[LogDateTime],[IpAddress],[LogData]) VALUES (@aid, @gid, @uid,@uname, @ltype, @log_date, @ipAddress, @message)" />
      <parameter>
        <parameterName value="@aid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="applicationId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@gid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="groupId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uid" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uname" />
        <dbType value="String" />
        <size value="250" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ltype" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="logType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@ipAddress" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="ipAddress" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
    </appender>
    <logger name="FileLogger">
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </logger>
    <logger name="ErrorLogger">
      <level value="DEBUG" />
      <appender-ref ref="ErrorLog" />
    </logger>
    <logger name="AuditLogger">
      <level value="DEBUG" />
      <appender-ref ref="AuditLog" />
    </logger>
    <logger name="AnalyticsLogger">
      <level value="DEBUG" />
      <appender-ref ref="AnalyticsLog" />
    </logger>
  </log4net>
</configuration>